/* src/App.css */
.app nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.app nav ul li {
  margin: 0 20px;
}

.app nav ul li a {
  text-decoration: none;
  color: #007BFF;
  font-size: 18px;
}

.app nav ul li a:hover {
  text-decoration: underline;
}
